


body {
	background-color: #8eadc5;
}

button {
		width: 100%;
		background-color: #7fba67;
		color: #ffffff;
		border: none;
		height: 60px;
		padding: 30px;
		font-size: 1em;
		margin-top: 10px;
}

#zona-gestos {
		width: 100%;
		background-color: #7fba67;
		margin-top: 10px;
		min-height: 300px;
		display: block;
}

#zona-gestos.claro {
	-webkit-animation: claro 1.5s 1;
}

#zona-gestos.oscuro {
	-webkit-animation: oscuro 1.5s 1;
}

#zona-gestos.tap {
	-webkit-animation: tap 0.1s 1;
}

/*La animación durará 1.5s y se hará 1 vez */
#zona-gestos.doubletap {
	-webkit-animation: pulsacion 1.5s 1;
}

#zona-gestos.press {
	-webkit-animation: presion 1.5s 1;
}

#zona-gestos.swipe-derecha {
	-webkit-animation: swipe-derecha 1.5s 1;
}

#zona-gestos.swipe-izquierda {
	-webkit-animation: swipe-izquierda 1.5s 1;
}

#zona-gestos.rotate {
	-webkit-animation: rotate 1.5s 1;
}



/**
Tanto iphone como android soportan webkit
por lo que no es necesario incluir nada mas
**/
@-webkit-keyframes pulsacion {
	/* al principio de la animación y al final el color será este */
	0%, 100% {
		background-color: #7fba67;
	}
	/* a mitad de la animación el color será este */
	50% {
		background-color: #8de1bd;
	}
}

@-webkit-keyframes presion {
	0%, 100% {
		background-color: #7fba67;
	}
	50% {
		background-color: #577a76;
	}
}

@-webkit-keyframes swipe-derecha {
	0%, 100% {
		margin-left: 0%;
	}
	/* a mitad de la animación el color será este */
	50% {
		margin-left: 100%;
	}
}

@-webkit-keyframes swipe-izquierda {
	0%, 100% {
		width: 100%;
	}
	/* a mitad de la animación el color será este */
	50% {
		width: 0%;
	}
}

@-webkit-keyframes tap {
	0%, 100% {
		background: yellow;
	}
}


@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(180deg);
	}
}

@-webkit-keyframes oscuro {
	0% {
		background: #FF0000;
	}
	25% {
		background: #FF4F33;
	}
	50% {
		background: #FF6833;
	}
	75% {
		background: #FF7A33;
	}
	100% {
		background: #FFA233;
	}
}


@-webkit-keyframes claro {
	100% {
		background: #FF0000;
	}
	75% {
		background: #FF4F33;
	}
	50% {
		background: #FF6833;
	}
	25% {
		background: #FF7A33;
	}
	0% {
		background: #FFA233;
	}
}